.App {
  text-align: center;
}

.happyMood {
  text-align: center;
  background-color: #FFD850
}

.sadMood {
  text-align: center;
  background-color: #90BAFF
}

.boredMood {
  text-align: center;
  background-color: #6EFF97
}
